streamlit==1.42.2
plotly==6.0.0
pandas==2.2.3
typing-extensions==4.12.2
setuptools
langchain_core
langchain_community
setuptools
langchain_core
langchain_community
supabase
google-genai
langchain_google_genai
whoosh
pyvis
folium
openpyxl
streamlit_folium